0.0 1 2 2.0 6 0

/* the values in the configuration file are: */
/* first, a floating point number for the minimum amplitude for which */
/* the program will assume that phase is defined.  This value is used */
/* only if you are using amplitude/phase format data. */
/* The second value is a flag for whether you want to use positive AND */
/* negative frequency values in the forward transform, or just positive */
/* frequency values (i.e., half the number of data points).  The flag values */
/* are: 1 = ALL frequencies, 2 = Positive frequencies only. */
/* The third number is a flag for whether you want to use real/imaginary */
/* format or amplitude/phase format.  The values are: */
/* 1 = Real/imaginary, 2= Amplitude/phase. */
/* The fourth number is the units for filter rolloff: 2.0=dB/octave, */
/* 10.0=dB/decade; */
/* the fifth number is the precision of the printer printout for a text dump */
/* of data.  For example, "6" means print 5 digits after the decimal place; */
/* The last value is a flag to enable menu selections by mouse (Microsoft */
/* mouse or compatible only) if set to 1, disable mouse if set to 0. */
/* IF YOU DO NOT HAVE A MICROSOFT-COMPATIBLE MOUSE INSTALLED ON YOUR COMPUTER*/
/* THE LAST VALUE MUST BE SET TO 0. */
/* This file can be edited with a word processor to set the value that you */
/* want to use.  You should not switch options with abandon, as data files */
/* collected as positive frequencies only will not be compatible with */
/* data files that are believed to be ALL, etc. */
